## DS102 Project

#### Research Topic
Investigating how temperature, humidity and rainfall affects tourist arrivals to Singapore. 

#### Reason for choice of topic

#### Dataset 
1. Monthly Visitor Arrivals from Singapore Tourism Board in the form of Excel spreadsheet
2. Realtime Weather Readings from Jan 2017 to Nov 2018 across Singapore from data.gov.sg in the form of APIs
    - Air Temperature
    - Relative Humidity 
    - Rainfall

In [1]:
# import libraries 
import pandas as pd 
import numpy as np 
import matplotlib
import datetime 
import requests 
import csv

In [3]:
# making API calls

def get(url): 
    resp = requests.get(url)
    if resp.ok:
        return resp.json()
    

date = datetime.date(2016,12,31)
url_list = [] # storing all the urls 
for i in range(1): # 730 is from jan 2017 to dec 2018 
    date += datetime.timedelta(days=1) # looping to increase days by 1
    start_url = f"https://api.data.gov.sg/v1/environment/air-temperature?date={date}"
    url_list.append(start_url) 

    
value_list = []
# value_list_list = []
for index, url in enumerate(url_list): # narrowing down to get value for that time of the day 
    data = get(url)  
    fieldnames = [item.get("timestamp") for item in data["items"]] 
    readings = [info.get("readings") for info in data["items"]]
    for list1 in readings:
        for list2 in list1: 
#             values = list2.get("value")
            value_list.append(list2.get("value"))
#             value_list_list.append(value_list)


    df = pd.DataFrame(np.array(value_list), columns = {date})
    
df

       2017-01-01
0            26.0
1            26.9
2            27.1
3            26.9
4            27.0
5            25.5
6            26.0
7            25.1
8            26.2
9            27.3
10           25.4
11           26.6
12           26.7
13           26.4
14           25.9
15           27.0
16           25.9
17           26.3
18           26.0
19           26.9
20           27.0
21           26.9
22           27.0
23           25.5
24           26.0
25           25.1
26           26.2
27           27.3
28           25.5
29           26.6
...           ...
25426        27.2
25427        25.4
25428        25.8
25429        26.6
25430        26.7
25431        26.9
25432        27.5
25433        26.9
25434        27.2
25435        26.8
25436        26.8
25437        26.5
25438        26.8
25439        26.5
25440        26.7
25441        27.6
25442        27.5
25443        27.2
25444        25.4
25445        25.8
25446        26.6
25447        26.7
25448        26.9
25449        27.5
25450        26.9
25451        27.2
25452        26.8
25453        26.8
25454        26.5
25455        26.7

[25456 rows x 1 columns]